(Closure
  {x
   (Closure
    {x
     (Closure
      {x
       (Closure
        {x
         (Closure
          {x
           (Closure
            {x
             (Closure
              {x
               (Closure
                {x
                 (Closure
                  {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                   f1
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                    (fn [x] (pair x))),
                   f2
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                     f1
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                      (fn [x] (pair x)))}
                    (fn [x] (f1 (f1 x)))),
                   f3
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                     f1
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                      (fn [x] (pair x))),
                     f2
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                       f1
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                        (fn [x] (pair x)))}
                      (fn [x] (f1 (f1 x))))}
                    (fn [x] (f2 (f2 x)))),
                   f4
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                     f1
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                      (fn [x] (pair x))),
                     f2
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                       f1
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                        (fn [x] (pair x)))}
                      (fn [x] (f1 (f1 x)))),
                     f3
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                       f1
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                        (fn [x] (pair x))),
                       f2
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                         f1
                         (Closure
                          {pair
                           (Closure {} (fn [x] (fn [f] ((f x) x))))}
                          (fn [x] (pair x)))}
                        (fn [x] (f1 (f1 x))))}
                      (fn [x] (f2 (f2 x))))}
                    (fn [x] (f3 (f3 x)))),
                   z
                   (Closure
                    {}
                    (fn
                     [x]
                     (fn
                      [y]
                      (fn
                       [x']
                       (fn
                        [y']
                        (fn
                         [x]
                         (fn [y] (fn [x'] (fn [y'] (fn [i] i))))))))))}
                  (fn [x] x))}
                (fn [f] ((f x) x)))}
              (fn [f] ((f x) x)))}
            (fn [f] ((f x) x)))}
          (fn [f] ((f x) x)))}
        (fn [f] ((f x) x)))}
      (fn [f] ((f x) x)))}
    (fn [f] ((f x) x))),
   y
   (Closure
    {x
     (Closure
      {x
       (Closure
        {x
         (Closure
          {x
           (Closure
            {x
             (Closure
              {x
               (Closure
                {x
                 (Closure
                  {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                   f1
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                    (fn [x] (pair x))),
                   f2
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                     f1
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                      (fn [x] (pair x)))}
                    (fn [x] (f1 (f1 x)))),
                   f3
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                     f1
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                      (fn [x] (pair x))),
                     f2
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                       f1
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                        (fn [x] (pair x)))}
                      (fn [x] (f1 (f1 x))))}
                    (fn [x] (f2 (f2 x)))),
                   f4
                   (Closure
                    {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                     f1
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                      (fn [x] (pair x))),
                     f2
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                       f1
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                        (fn [x] (pair x)))}
                      (fn [x] (f1 (f1 x)))),
                     f3
                     (Closure
                      {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                       f1
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x))))}
                        (fn [x] (pair x))),
                       f2
                       (Closure
                        {pair (Closure {} (fn [x] (fn [f] ((f x) x)))),
                         f1
                         (Closure
                          {pair
                           (Closure {} (fn [x] (fn [f] ((f x) x))))}
                          (fn [x] (pair x)))}
                        (fn [x] (f1 (f1 x))))}
                      (fn [x] (f2 (f2 x))))}
                    (fn [x] (f3 (f3 x)))),
                   z
                   (Closure
                    {}
                    (fn
                     [x]
                     (fn
                      [y]
                      (fn
                       [x']
                       (fn
                        [y']
                        (fn
                         [x]
                         (fn [y] (fn [x'] (fn [y'] (fn [i] i))))))))))}
                  (fn [x] x))}
                (fn [f] ((f x) x)))}
              (fn [f] ((f x) x)))}
            (fn [f] ((f x) x)))}
          (fn [f] ((f x) x)))}
        (fn [f] ((f x) x)))}
      (fn [f] ((f x) x)))}
    (fn [f] ((f x) x)))}
  (fn [x'] (fn [y'] (fn [x] (fn [y] (fn [x'] (fn [y'] (fn [i] i))))))))
